.gallery {
    max-width: 1200px;
    margin: auto;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    list-style-type: none;
}

.gallery-item {
    width: 360px;
    height: 200px;

}

.gallery-item:hover {
    transform: scale(1.10);
    transition: transform 0.3s;
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}